body {
  margin: 0 auto;
}

#heading {
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
 align-content: center;
}

#arrows {
  padding: 18px 140px 0 0;
}

#spacebar {
  padding: 50px 0 0 0;
}


h1 {
  color: #D4582A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  margin: 30px 0 0 0;
  padding: 0 0 0 120px;
}

#game-board{
  margin: 0 auto;
  position: absolute;
  left: 125px;
  top: 130px;
}